<div class="min-h-screen bg-background-light font-roboto p-6 pb-20">
  <!-- Cabeçalho -->
  <div class="flex justify-between items-center mb-6">
    <div class="flex items-center">
      <div>
        <h1 class="text-2xl font-bold text-text-primary">Bem-vindo, Toan!</h1>
        <p class="text-text-secondary">Selecione um pet para gerenciar:</p>
      </div>
    </div>
    <div class="flex space-x-4">
      <button class="text-text-secondary hover:text-primary">
        <app-icon icon="bell"></app-icon>
      </button>

      <button class="text-text-secondary hover:text-primary">
        <app-icon icon="engine"></app-icon>
      </button>
    </div>
  </div>

  <!-- Seletor de Pets -->
  <div class="mb-6">
    <div class="flex space-x-4 overflow-x-auto pb-2">
      @for (pet of petList(); track $index) {
      <div
        (click)="activePet(pet)"
        [class.border-primary]="selectedPet?.id === pet.id"
        class="flex-shrink-0 flex flex-col items-center p-4 border-2 border-dashed rounded-lg cursor-pointer hover:bg-neutral-200 transition-colors"
      >
        <app-avatar size="lg" [src]="pet.photoUrl || ''"></app-avatar>

        <p class="text-text-primary font-semibold">{{ pet.name }}</p>
      </div>

      }
    </div>
  </div>

  @if (selectedPet) {

  <p class="px-2 pb-4 text-4xl text-indigo-800">{{ selectedPet.name }}</p>

  <!-- {
    "birthDate": "2025-04-01T03:00:00.000Z",
    "gender": "M",
    "name": "Ted",
    "specieId": 1,
    "breed": "Pascal",
    "ownerId": "3b0b7432-9bff-"
  } -->

  <div class="flex flex-col gap-2">
    <!-- <h3 class="text-lg text-gray-800">Crie o plano alimentar do seu pet!</h3> -->

    <app-button
      (click)="goToFeedingPlan()"
      theme="gradient"
      [rounded]="true"
      class="block max-w-max"
      >Plano Alimentar</app-button
    >
  </div>
  }
  <app-button
    [rounded]="true"
    class="block max-w-max mt-4"
    (click)="goToPetManager()"
    theme="gradient-primary"
    >Meus Pets</app-button
  >

  <!-- Menu Inferior -->
  <!-- <div class="fixed bottom-0 left-0 right-0 bg-white shadow-lg">
    <div class="grid grid-cols-5 gap-4 p-4">
      <button class="text-text-secondary text-center hover:text-primary">
        <app-icon icon="bell" size="lg"></app-icon>
      </button>
      <button class="text-text-secondary text-center hover:text-primary">
        <app-icon icon="bell" size="lg"></app-icon>
      </button>
      <button class="text-text-secondary text-center hover:text-primary">
        <app-icon icon="bell" size="lg"></app-icon>
      </button>
      <button class="text-text-secondary text-center hover:text-primary">
        <app-icon icon="bell" size="lg"></app-icon>
      </button>
      <button class="text-text-secondary text-center hover:text-primary">
        <app-icon icon="bell" size="lg"></app-icon>
      </button>
    </div>
  </div> -->
</div>
