<app-modal-meal-record #modalMeal></app-modal-meal-record>

<div class="min-h-screen bg-background-light font-roboto p-6 pb-20">
  <!-- Cabeçalho -->
  <div class="flex justify-between items-center mb-6">
    <div class="flex items-center">
      <div>
        <h1 class="text-2xl font-bold text-text-primary">Bem-vindo, Toan!</h1>
        <p class="text-text-secondary">Selecione um pet para gerenciar:</p>
      </div>
    </div>
    <div class="flex space-x-4">
      <button class="text-text-secondary hover:text-primary">
        <app-icon icon="bell"></app-icon>
      </button>

      <button class="text-text-secondary hover:text-primary">
        <app-icon icon="engine"></app-icon>
      </button>
    </div>
  </div>

  <!-- Seletor de Pets -->
  <div class="mb-4">
    <div class="flex flex-row gap-2 space-x-4 overflow-x-auto pb-2">
      @for (pet of petList(); track $index) {
      <div
        (click)="activePet(pet)"
        [class.border-primary]="selectedPet?.id === pet.id"
        class="flex-shrink-0 flex flex-col items-center p-4 border-2 border-dashed rounded-lg cursor-pointer hover:bg-neutral-200 transition-colors"
      >
        <app-avatar size="lg" [src]="pet.photoUrl || ''"></app-avatar>

        <p class="text-text-primary font-semibold">{{ pet.name }}</p>
      </div>

      }
    </div>
  </div>

  <!-- Dashboard do Pet -->

  <!-- Ações -->
  <section class="flex flex-row gap-2 mb-4">
    @if (selectedPet) {
    <div
      (click)="goToFeedingPlan()"
      class="animate-fade size-14 border border-solid shadow-md hover:scale-105 cursor-pointer rounded-xl grid items-center justify-center bg-gradient-to-r from-blue-500 to-purple-600 text-white"
    >
      <app-icon class="!text-white" icon="calendar"></app-icon>
    </div>
    <div
      (click)="registerMeal()"
      class="animate-fade size-14 border border-solid shadow-md hover:scale-105 cursor-pointer rounded-xl grid items-center justify-center bg-gradient-to-r from-blue-500 to-purple-600 text-white"
    >
      <app-icon class="!text-white" icon="clock"></app-icon>
    </div>
    }

    <div
      (click)="goToPetManager()"
      class="animate-fade size-14 border border-solid shadow-md hover:scale-105 cursor-pointer rounded-xl grid items-center justify-center bg-gradient-to-r from-primary to-secondary text-white"
    >
      <app-icon class="!text-white" icon="pet"></app-icon>
    </div>
  </section>

  <section class="w-full">
    <h2>Meta semanal</h2>
    <div class="grid grid-cols-2 gap-2">
      <div class="bg-gray-100 p-5 rounded-lg">
        <p>Cumprido</p>
        <div class="flex">
          <p class="text-5xl">800<span class="text-lg">g</span></p>
        </div>
      </div>
      <div class="bg-indigo-50 p-5 rounded-lg">
        <p>Meta</p>
        <div class="flex">
          <p class="text-5xl">1000<span class="text-lg">g</span></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Histórico de registro de alimentação -->
  <section class="container mx-auto py-6 max-w-xl">
    <h2 class="text-lg font-medium text-gray-700 mb-4">
      Histórico de Alimentação
    </h2>

    @for (item of history(); track $index) {
    <div class="flex items-center pb-3 mb-5 px-4">
      <div class="flex-shrink-0 mr-3">
        <app-avatar [src]="item.pet.photoUrl || ''"></app-avatar>
      </div>

      <div class="flex-1 min-w-0">
        <div class="flex justify-between">
          <p class="text-sm font-medium text-gray-900 truncate">
            {{ item.pet.name }}
          </p>
          <span class="text-xs text-gray-500 ml-2">{{ item.time }}</span>
        </div>
        <p class="text-sm text-gray-600">
          {{ item.amount + " " + item.unit.label }}
        </p>
      </div>

      <!-- <button
        class="ml-4 text-sm text-blue-600 hover:text-blue-800 font-medium"
      >
        Detalhes
      </button> -->
    </div>
    }
  </section>
</div>
