<div
  class="min-h-screen bg-gradient-to-r from-blue-500 to-purple-600 flex flex-col justify-center items-center text-white p-4"
>
  <h2 class="text-3xl font-bold mb-6">Cadastro Concluído!</h2>
  <p class="text-lg mb-8">
    Cadastro concluído com sucesso! Agora, acesse sua conta para gerenciar seu
    animal.
  </p>
  <button
    (click)="goToLogin()"
    class="bg-white text-blue-600 font-semibold py-2 px-6 rounded-lg shadow-lg hover:bg-blue-50 transition duration-300"
  >
    Fazer Login
  </button>
</div>
