<div class="max-w-2xl mx-auto p-6">
  <h2 class="text-2xl font-bold mb-2">
    Plano alimentar para <span class="text-indigo-600">{{ pet()?.name }}</span>
  </h2>
  <p class="text-gray-500 mb-6">
    Defina os horários e quantidades das refeições do seu pet e receba lembretes
    automáticos para cuidar dele todos os dias!
  </p>

  <form [formGroup]="formPlan">
    <!-- Informações gerais -->
    <app-date formControlName="startDate" label="Data de início"></app-date>

    <app-textarea
      formControlName="note"
      label="Observações gerais"
      placeholder="Exemplo: Plano baseado em recomendação do veterinário. Reavaliar em 30 dias."
    ></app-textarea>

    <section formArrayName="meals" class="grid">
      @if ( formPlan.value.meals?.length) {
      <h3 class="mt-auto text-xl font-semibold mb-4">Refeições</h3>

      } @for (meal of meals.controls; track $index) {

      <app-meals-form
        (onRemove)="removeMeal($index)"
        [formControlName]="$index"
        class="animate-fade"
        [required]="true"
      ></app-meals-form>

      }
    </section>
    <app-button
      class="my-4 block ml-auto w-5/6 mx-auto"
      (click)="addMeal()"
      [rounded]="true"
      theme="support"
      [outline]="true"
      ><span class="text-xl">+</span> Adicionar refeição</app-button
    >

    @if (meals.length) { @if (error()) {

    <p class="py-2 text-sm text-gray-600 animate-fade-up">
      {{ error() }}
    </p>
    }

    <app-button
      (click)="saveFeedingPlan($event)"
      theme="gradient"
      class="block w-5/6 mx-auto"
      >Salvar</app-button
    >
    }

    <app-button
      theme="neutral"
      (click)="goBack()"
      class="block w-5/6 mx-auto my-4"
      >Voltar</app-button
    >
  </form>
</div>
