<div class="relative mb-4">
  @if (error) {
  <p class="animate-fade-right pb-1 text-xs text-red-400">{{ error }}</p>
  } @if (label) {
  <label class="block text-sm font-medium mb-2">{{ label }}</label>
  }
  <div class="relative">
    <select
      [disabled]="disabled"
      [ngModel]="value"
      (ngModelChange)="onChangeEvent($event)"
      (blur)="onBlur()"
      class="w-full p-3 rounded-lg border-2 focus:outline-none transition-colors appearance-none"
      [ngClass]="{
        'border-neutral-500 focus:border-primary-500': !disabled,
        'border-neutral-200 bg-neutral-200': disabled
      }"
    >
      @for (option of options; track $index) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
      }
    </select>
    <div
      class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-neutral-500"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </div>
  </div>
</div>
